<launch>

    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type[burger]" />
    <arg name="multi_robot_name" default=""/>
    <arg name="mode" default="sim"/>

    <rosparam file="$(find homework2)/config/trajectory.yaml" />
   
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
      <arg name="model" value="$(arg model)" />
      <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
    </include>



    <node name="trajectory" pkg="homework2" type="trajectory"> 
            <param name="pub_freq" value="200.0"/>
    </node>
    
    <group if="$(eval mode == 'sim')">
      <node name="turtlesim_node" pkg="turtlesim" type="turtlesim_node" />
      <node name="simodom" pkg="homework2" type="simodom"/> 
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find homework2)/rviz/turtle_view.rviz"/>

    </group>





    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
       <param name="use_gui" value="true"/>
       <param name="rate" value="50"/>
    </node>


</launch>    